<form id="addForm" class="form">
  <div class="input-field">
    <input type="text" name="title" class="materialize-textarea" placeholder="Title" />
  </div>
  <div class="input-field">
    <textarea rows="5" name="content" class="materialize-textarea" placeholder="Content"></textarea>
  </div>
  <button type="submit" id="addBtn" class="btn waves-effect waves-light">Add</button>
  <button type="cancel" id="addBtn" class="cancel btn waves-effect waves-light">Cancel</button>
</form>
