<style>
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  position: relative !important;
  flex-grow: 1;
}
</style>
<nav class="nav-extended">
  <div class="nav-wrapper">
    <div class="container nav-container">
      <a class="top brand-logo">Backbone Memo Application</a>
      <a class="create btn">Add</a>
    </div>
  </div>
</nav>
